@model AgendaIN6AV.Contacto

@{
    ViewBag.Title = "Detalles";
}
@if (Session["idUsuario"] != null) {
<h2>Detalles</h2>

<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idContacto }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
}
else
{
    <h1 style="text-align:center">Por favor @Html.ActionLink("inicie sesión", "Login", "Cuenta") para acceder al contenido.</h1>
}
